.container-homePage {
  display: flex;
  padding: 10em;
  justify-content: center;

  .orange-bg {
    background-color: #F27405;
    width: 30em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;

    .title-homePage {
      display: none;
    }

    &:hover {
      background-color: #ee8745;

      .title-homePage {
        display: initial;
        text-decoration: none;
        color: #f2F2F2;
        font-weight: bold;
      }
    }

    img {
      width: 100px;
      height: 100px;
      transition: transform .2s;

      &:hover {
        transform: scale(1.2);

      }
    }
  }

  .blue-bg {
    background-color: #1EC6D9;
    width: 30em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;

    .title-homePage {
      display: none;
    }

    &:hover {
      background-color: #5cc3d0;

      .title-homePage {
        display: initial;
        text-decoration: none;
        color: #f2F2F2;
        font-weight: bold;
      }
    }

    img {
      width: 100px;
      height: 100px;
      transition: transform .2s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}




/*
TABLET MEDIA QUERIES */

@media only screen and (min-width: 800px) and (max-width: 1080px) {
  .container-homePage {
    .orange-bg {
      width: 20em;
      height: 20em;
    }


    .blue-bg {
      width: 20em;
      height: 20em;
    }

  }


}

/* PHONE MEDIA QUERIES */

@media only screen and (min-width: 414px) and (max-width: 767px) {

  .container-homePage{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .orange-bg{
    width:15em;
    height:15em;
    margin-right: initial;
    margin-bottom:5rem;
  }
    .blue-bg{
      width:15em;
      height:15em;
    }
  }
}
